* {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1, h2, h3 {
  font-weight: 700;
}

h4, h5, h6, p {
  font-weight: 300;
}

/*Waves*/
.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 100px;
    min-height: 100px;
  }

  .content {
    height: 30vh;
  }
}
#initial {
  height: 800px;
  background-image: url("../img/turin.jpg");
  background-position: 0 40%;
  text-align: center;
}
#initial h1 {
  margin-top: 60%;
  color: white;
}
#initial .navbar {
  display: flex;
  flex-direction: row !important;
  list-style-type: none;
  justify-content: space-around;
}
#initial .navbar .nav-item {
  visibility: hidden;
}
#initial .navbar .nav-brand {
  font-weight: 700;
}

#story, #works, #where, #contact {
  margin-top: 20%;
}

#story {
  text-align: center;
  padding: 0 50px;
}
#story img {
  margin-top: 50px;
  margin-bottom: 50px;
}

#works h1 {
  text-align: center;
}
#works .button {
  visibility: hidden;
}
#works .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#works .cards .board {
  width: 400px;
  height: 450px;
  background-color: whitesmoke;
  margin-top: 50px;
}
#works .cards .board .board-img img {
  width: 400px;
  height: 200px;
}
#works .cards .board .board-body {
  margin-top: 20px;
}
#works .cards .board .board-body h4 {
  text-align: center;
}
#works .cards .board .board-body ul {
  list-style-type: none;
}
#works .cards .board .board-body button {
  text-align: center;
  margin: 0 8%;
}

#where {
  text-align: center;
}
#where #map {
  margin-top: 20px;
  height: 400px;
  width: 75%;
  margin: 0 12.5%;
}

#contact {
  text-align: center;
}
#contact #form {
  padding-top: 25px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
  margin-top: 20px;
  margin: 0 5%;
  width: 90%;
  height: 500px;
}
#contact #form .form .icon {
  margin-top: 20px;
  margin-right: 15px;
  color: #b23cfd;
}
#contact #form .form input, #contact #form .form textarea {
  border: solid 3px;
  border-color: #b23cfd;
  border-radius: 10px;
}
#contact #form .form .name input {
  width: 300px;
}
#contact #form .form .email {
  margin-bottom: 20px;
}
#contact #form .form .email input {
  width: 300px;
}

#footer {
  margin-top: 40px;
}

#copy {
  text-align: center;
  background-color: #b23cfd;
  height: 200px;
  color: white;
}
#copy h4 {
  padding-top: 100px;
}

@media only screen and (min-width: 1441px) {
  #initial h1 {
    margin-top: 13%;
  }
  #initial .nav-item {
    visibility: initial !important;
  }

  #story {
    margin-top: 150px;
  }
  #story p {
    padding: 0 500px;
  }

  #works {
    margin-top: 150px;
  }
  #works .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
  }
  #works .button {
    text-align: center;
    visibility: initial !important;
    margin-top: 100px;
  }

  #where {
    margin-top: 150px;
  }
  #where #map {
    margin-top: 50px;
    height: 400px;
    width: 50%;
    margin-left: 25%;
  }

  #contact {
    margin-top: 150px;
  }
  #contact #form {
    margin-top: 20px;
    padding-top: 40px;
    width: 500px;
    height: 500px;
    margin-left: 37.75%;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1439px) {
  .nav-item {
    visibility: initial !important;
  }
}

/*# sourceMappingURL=styles.css.map */
